
  .register-button {
	background-color: orange;
	color: white;
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
	background-color: darkorange;
  }
  
/* Conteneur global pour la page */
.page-container {
	position: relative;
	min-height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la page */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
  }
  
  /* Conteneur du formulaire */
  .login-container {
	width: 500px;
	height: 350px;
	text-align: center;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background: white;
	z-index: 1;
  }
  
  /* Formulaire */
  .login-container h2 {
	margin-bottom: 20px;
  }
  
  .form-group {
	margin-bottom: 15px;
	text-align: left;
  }
  
  label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  input {
	width: 94%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .login-button {
	background-color: orange;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  /* Positionnement des images */
  .image-left {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 400px; /* Ajuste la taille si nécessaire */
	height: auto;
	
  }
  
  .image-right {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 380px; /* Ajuste la taille si nécessaire */
	height: auto;
  }
  
  .forgot-password {
	margin-top: 10px;
	text-align: left	;
  }
  
  .forgot-password a {
	text-decoration: none;
	color: #e35112; /* Couleur bleue */
	font-size: 14px;
  }
  
  .forgot-password a:hover {
	color: #000000; /* Couleur plus sombre au survol */
	text-decoration: underline;
  }

  